* {
    padding: 0;
    margin: 0;
}

body {
    min-block-size: 100svh;

    font-family: var(--font-body);
    font-size: var(--ch-m);
    line-height: 1;
    
    background-color: var(--bg);
    color: var(--fg);

    display: grid;
    grid-template-rows: auto 1fr auto;
}

code {
    font-family: var(--font-mono);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    font-kerning: none;
    font-variant-ligatures: none;
}

h1 {
    font-family: var(--font-heading);
    font-size: var(--ch-5);
    text-align: center;
}

h2 {
    font-family: var(--font-heading);
    font-size: var(--ch-4);
}

p {
    text-wrap: pretty;
}

hr {
    border: none;
    background-color: var(--outline);
    height: var(--line-width);
    margin-block: var(--spacing);
}

a {
    color: var(--blue);
    transition: color 0.1s;
    &:is(:hover, :focus-visible) {
        outline: none;
        color: var(--blue-h);
    }
    @supports(-moz-appearance: none) {
        transition: none;
    }
}

a:visited {
    color: var(--magenta);
    &:is(:hover, :focus-visible) {
        color: var(--magenta-h);
    }
}

ul, ol {
    padding-inline-start: 2ch;
}

figure {
  width: fit-content;
  margin-inline: auto;
  img, svg {
    max-width: 100%;
    margin-inline: auto;
  }
  figcaption {
    margin-top: 0;
    text-align: center;
    color: var(--fg-s);
    font-size: var(--ch-s);
  }
}

button {
    font-family: var(--font-body);
    font-size: var(--ch-m);
    padding: var(--spacing);
    border-radius: var(--rounding);
    border: var(--line-width) solid var(--outline);
    background-color: var(--bg);
    color: var(--fg);

    &:focus {
        outline: none;
        opacity: 100%;
    }

    &.subtle {
        opacity: 50%;
        cursor: pointer;
    }
    &.subtle:is(:hover, :focus-visible) {
        opacity: 100%;
    }
    &:not(.subtle):is(:hover, :focus-visible) {
        background-color: var(--bg-lighter);
    }

    transition: color 0.1s, background-color 0.1s, opacity 0.1s;
}

strong {
    font-weight: 600;
}

::selection {
    background-color: var(--bg-selected);
    color: var(--fg-h);
}
