.content-grid,
.full-width {
    display: grid;
    min-width: min-content;

    grid-template-columns:
        [full-width-start]
        minmax(var(--padding-inline), 1fr)
        [breakout-start]
        minmax(0, calc(var(--breakout-size)))
        [content-start]
        minmax(auto, var(--content-max-width))
        [content-end]
        minmax(0, calc(var(--breakout-size)))
        [breakout-end]
        minmax(var(--padding-inline), 1fr)
        [full-width-end];

    > * {
        grid-column: content;
    }
    > .breakout,
    hr {
        grid-column: breakout;
    }
    > .full-width {
        grid-column: full-width;
    }
}

article,
ol,
ul,
.prose {
    line-height: 1.6;
    & > * + * {
        margin-block-start: 1.6em;
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing);

    &.space-between {
        justify-content: space-between;
    }

    &.wrap {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        > div:has(p) {
            flex: 1 0 min-content;
        }
    }

    &.no-gap {
        gap: 0;
    }
}

pre:has(code) {
    border-radius: var(--rounding);
    padding: var(--spacing);
    margin-block-start: 1em;
    text-align: start;

    background-color: var(--bg-s);
    color: var(--fg-s);

    > code {
        &::selection {
            background-color: var(--bg-selected);
        }
        .comment {
            font-style: italic;
            color: var(--green-h);
        }
        .keyword {
            color: var(--red-h);
        }
        .class-name {
            color: var(--magenta);
        }
        .function, .builtin {
            color: var(--yellow);
        }
        .operator {
            color: var(--yellow-h);
        }
        .string {
            color: var(--green);
        }
        .number {
            color: var(--blue);
        }
        .boolean {
            color: var(--cyan);
        }
        .bracket {
            color: var(--fg);
        }
    }
    
    @media (prefers-color-scheme: dark) {
        .keyword::selection {
            color: #ffc7a8;
        }
        .class-name::selection {
            color: #edcef3;
        }
        .function::selection,
        .operator::selection,
        .builtin::selection {
            color: #ffeab1;
        }
        .string::selection {
            color: #def0a4;
        }
        .number::selection {
            color: #b9d4dd;
        }
        .boolean::selection {
            color: #bee0be;
        }
    }
    @media (prefers-color-scheme: light) {
        .keyword::selection {
            background-color: #dbc0a4;
        }
        .class-name::selection {
            background-color: #dbc0cd;
        }
        .function::selection,
        .operator::selection {
            background-color: #dbcba7;
        }
        .string::selection {
            background-color: #d0cda3;
        }
        .number::selection {
            background-color: #bfc3b8;
        }
        .boolean::selection {
            background-color: #c1c8aa;
        }
    }
}

.round {
    border-radius: 10000rem;
}

.card {
    background-color: var(--bg-s);
    border-radius: var(--rounding);
    margin-block-start: 1em;
    padding: var(--spacing);
    &:is(a) {
        text-decoration: none;
    }
}

.ch-3 {
    font-size: var(--ch-3);
}

.ch-s {
    font-size: var(--ch-s);
    color: var(--fg-ss);
}

.right {
    text-align: end;
}
