.content-grid,
.full-width {
    display: grid;
    min-width: fit-content;

    grid-template-columns:
        [full-width-start]
        minmax(var(--padding-inline), 1fr)
        [breakout-start]
        minmax(0, calc(var(--breakout-size)))
        [content-start]
        minmax(auto, var(--content-max-width))
        [content-end]
        minmax(0, calc(var(--breakout-size)))
        [breakout-end]
        minmax(var(--padding-inline), 1fr)
        [full-width-end];

    > * {
        grid-column: content;
    }
    > .breakout,
    hr {
        grid-column: breakout;
    }
    > .full-width {
        grid-column: full-width;
        grid-template-columns: subgrid;
    }
}

article,
ol,
ul,
.prose {
    line-height: 1.6;
    & > * + * {
        margin-block-start: 1.6em;
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing);

    &.space-between {
        justify-content: space-between;
    }

    &.wrap {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        > div:has(p) {
            flex: 1 0 min-content;
        }
    }

    &.no-gap {
        gap: 0;
    }
}

pre:has(code) {
    border-radius: var(--rounding);
    padding: var(--spacing);
    margin-block-start: 1em;
    text-align: start;

    background-color: var(--bg-s);
    color: var(--fg-s);

    > code,
    > code > * {
        color: var(--tok);
    }

    > code {
        --tok: var(--fg-s);
        .comment {
            font-style: italic;
            --tok: var(--green-h);
        }
        .keyword {
            --tok: var(--red-h);
        }
        .class-name {
            --tok: var(--magenta);
        }
        .function,
        .builtin {
            --tok: var(--yellow);
        }
        .operator {
            --tok: var(--yellow-h);
        }
        .string {
            --tok: var(--green);
        }
        .number {
            --tok: var(--blue);
        }
        .boolean {
            --tok: var(--cyan);
        }
        .bracket {
            --tok: var(--fg);
        }
    }
}

.round {
    border-radius: 10000rem;
}

.card {
    background-color: var(--bg-s);
    border-radius: var(--rounding);
    margin-block-start: 1em;
    padding: var(--spacing);
    &:is(a) {
        text-decoration: none;
    }
}

.ch-3 {
    font-size: var(--ch-3);
}

.ch-s {
    font-size: var(--ch-s);
    color: var(--fg-ss);
}
