@font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans.woff2') format('woff2');
}

@font-face {
    font-family: 'Diphylleia';
    src: url('/assets/fonts/Diphylleia-Regular.woff2') format('woff2');
}