:root {
    --content-max-width: 50rem;
    --breakout-max-width: 60rem;
}

.content-grid {
    height: fit-content;

    --_breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns: 
        [full-width-start] minmax(var(--page-margins), 1fr)
        [breakout-start] minmax(0px, var(--_breakout-size))
        [content-start] min(100% - (var(--page-margins) * 2), var(--content-max-width)) [content-end] 
        minmax(0px, var(--_breakout-size)) [breakout-end]
        minmax(var(--page-margins), 1fr) [full-width-end];
    grid-auto-rows: auto;
}

.content-grid > :not(.full-width, .breakout),
.full-width > :not(.full-width, .breakout) {
    grid-column: content;
}

.breakout {
    grid-column: breakout;
}

.full-width {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
}

.row {
    display: flex;
    flex-flow: row wrap;
}